:root {
  --trans-default: 0.2s ease-in;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  color-scheme: light dark;

  font-synthesis: none;
}

.app.light {
  --font-color: rgb(34 34 34 / 85%);
  --font-color-secondary: #646cff;
  --bg-color: #f2f3f7;
  --bg-color-secondary: #fff;
  --border-color: #c2c2c2;
  --hover-color: #646cff;
}

.app.dark {
  --font-color: #c9c9cb;
  --font-color-secondary: #77bb8e;
  --bg-color: #25405b;
  --bg-color-secondary: #1c64a1;
  --border-color: #9b9b9b;
  --hover-color: #46a8ff;
}

.app {
  color: var(--font-color);
}
