:root {
    --font-color: #242424;
    --bg-color: #f2f3f7;
    --bg-color-secondary: #fff;
    --border-color: #c2c2c2;
    --trans-default: 0.2s ease-in;
    --tablet-width: 768px;
    --desktop-width: 1440px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: var(--font-color);
    text-rendering: optimizelegibility;

    color-scheme: light dark;
    background-color: var(--bg-color);

    font-synthesis: none;
}
