.button {
  cursor: pointer;

  display: inline-block;

  width: fit-content;
  height: fit-content;
  border-radius: 5px;

  color: var(--font-color);

  transition: var(--trans-default);

  &:hover,
  &:focus {
    color: color-mix(in oklab, var(--font-color) 90%, var(--hover-color));
    background-color: color-mix(in oklab, var(--bg-color) 85%, var(--hover-color));
  }
}

.outlined {
  background-color: inherit;
}

.contained {
  background-color: var(--bg-color);
}

.s {
  padding: 5px;
  font-size: 13px;
}

.m {
  padding: 10px;
  font-size: 16px;
}

.l {
  padding: 15px;
  font-size: 18px;
}
