.comment {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.avatar {
  border-radius: 50%;
}

.title {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.text {
  margin: 0;
  line-height: 1;
}

.date {
  font-size: 0.6em;
  text-align: end;
}

